@charset "utf-8";

/* --------------------------------------------------------------------------
   Form
-------------------------------------------------------------------------- */


/* filebox(첨부파일 박스) ==================================================  */
.filebox {
  &::before,
  &::after {
    display: block;
    clear: both;
    content: "";
  }

  input[type="file"] {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0,0,0,0);
  }

  .file-label {
    float: right;
    width: 16%;
    min-width: inherit !important;
    color: $gray-sub3;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
  }

  /* named upload */
  .upload-name {
    float: left;
    width: 84%;
    color: $gray-sub3;
    background-color: #fff !important;
    border: 0;
    box-shadow: none;
  }
}



