:root {
    font-size: 14px;
}

body {
    font-family: "Noto Sans Korean";
    margin: 0;
    background-color: white;
}

body, th, td, input, select, textarea, button {
    color: #353535;
}

ol, ul {
    padding-left: 0;
    list-style-type: none;
}

/* Disable ugly boxes around images in IE10 */
a img {
    border: 0px;
}

::-moz-selection {
    background-color: $primary;
    color: #fff;
}

::selection {
    background-color: $primary;
    color: #fff;
}
